body {
	margin:0px auto;
}
p {
	margin: 0px;
}
#game {
	position:relative;
	top:50px;
	height:auto;
	width:650px;
	margin: 0 auto;
	padding:5px;
	background-color:white;
}
#grid {
	position:relative;
	width:auto;
	padding-left:40px;
	background-color:white;
}
#grid, #settings {
	display:inline-block;
}
#settings {
	position:relative;
	padding:5px;
	top:-200px;
	left:40px;
}
button#skip {
	position:relative;
	top:-40px;
	left:-100px;
}
.disabled {
	color:#C0C0C0;
}
#footer {
	position:absolute;
	bottom:0px;
	margin:0px;
	width:100%;
}
#footer div {
	text-align:center;
	font-size:.7em;
}